body {
    padding: 0;
    margin: 0;
    color: #000000;
    font-size: 16px;
    font-family: 'Gotham Pro', 'sans-serif';
}

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
    text-transform: uppercase;
}

p {
    margin: 0;
}

ul, li {
    display: block;
    padding: 0;
    margin: 0;
}

.container {
    margin: 0 auto;
    padding: 0;
}


/* Header */

.header__background {
    position: relative;
}
.background-image {
    width: 100%;
    height: auto;
}

.header-logo{
    position: absolute;
    z-index: 1;
}

.header-header{
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 700;
    font-size: 30px;
    color: white;
    line-height: 55px;
    position: absolute;
    z-index: 1;
}
.background-opacity {
    position: absolute;
}

/* Main */

.section__header {
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 55px;
    position: relative;
}

.section__header::before {
    content: "";
    width: 50%;
    height: 1px;
    background-color: #FBAB44;
    position: absolute;
    bottom: 0;
    right: 0;
}

.section__header-title {
    display: flex;
    flex-direction: column;
    grid-row-gap: 27px;
}
.section__header-title::after {
    content: "";
    width: 100%;
    height: 3px;
    background-color: #FBAB44;
}

.section__about {
    display: grid;
    justify-content: center;
}

.about__header {
    display: flex;
    margin-top: 88px;
    justify-content: center;
    align-items: center;
}

.about__items {
    max-width: 954px;
    padding-top: 90px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(70px, auto);
    grid-column-gap: 70px;
    grid-row-gap: 44px;
    align-items: center;
}

.item {
    display: grid;
    grid-template-columns: 34px 264px;
    grid-column-gap: 20px;
    align-items: center;
}