body {
    padding: 0;
    margin: 0;
    color: #000000;
    font-size: 16px;
    font-family: 'Gotham Pro', 'sans-serif';
}

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
    text-transform: uppercase;
}

p {
    margin: 0;
}

ul, li {
    display: block;
    padding: 0;
    margin: 0;
}

.container {
    margin: 0 auto;
    padding: 0 60px;
}

.section__header {
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 55px;
}
/* Header */

.about__header {
    display: flex;
    margin-top: 88px;
    justify-content: center;
    align-items: center;
}
h1 {

}
hr {
    width: 200px;
    margin-top: 26px;
    margin-bottom: 0;
    border: 2px solid #FBAB44;
}





/* Main */

.about__items {
    padding: 90px 253px 0 240px ;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(70px, auto);
    grid-column-gap: 70px;
    grid-row-gap: 44px;
    align-items: center;
}

.item {
    display: grid;
    grid-template-columns: 34px 264px;
    grid-column-gap: 20px;
    align-items: center;
}