body {
    padding: 0;
    margin: 0;
    color: #000000;
    font-size: 16px;
    font-family: 'Gotham Pro', 'sans-serif';
}

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
    text-transform: uppercase;
}

p {
    margin: 0;
}

ul, li {
    display: block;
    padding: 0;
    margin: 0;
}

.container {
    margin: 0 auto;
    padding: 0 60px;
}


/* header */

/* Main */
